.App{
    color: fuchsia;
    width: 500px;
    height: auto;
}
.display{
    margin-left: 700px;
    width: 200px;
    height: auto;
    background-color: rgb(190, 178, 178);
    align-content: center;
}

button{
    align-content: center;
}